{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Modifier le Contact</h1>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.firstName, 'Prénom') }}
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.lastName, 'Nom') }}
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.email, 'Email') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.phone, 'Téléphone') }}
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.lastInteractions, 'Dernières Interactions') }}
                    {{ form_widget(form.lastInteractions, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">Modifier</button>
                {{ form_end(form) }}
            </div>
            <a href="{{ path('app_contacts') }}">Retour à la liste des contacts</a>
        </div>
    </div>

{% endblock %}